In [1]:
import pymysql 
import pandas as pd 
import os

In [2]:
data_path = os.path.join('/workspace/data/')

In [3]:
data_path

'/workspace/data/'

In [74]:
args = dict()
args['host'] = "192.168.0.146"
args['user'] = "cori"
args['password'] = "Dhwoehd12!"
args['db'] = "shinhan"
args['port'] = 3306

In [75]:
conn = pymysql.connect(host=args['host'], port=args['port'], user=args['user'], password=args['password'], db=args['db'], charset='utf8')
curs = conn.cursor()

In [76]:
curs

In [77]:
data = pd.read_csv(os.path.join(data_path, 'financial', 'SHINHAN BANK_Financial_Product_Scraping_Result_20240104_LOAN_db.csv'), encoding='utf-8')
data.head(1)

,대출_고유키,금융회사코드,금융회사명,금융상품코드,금융상품명,기준일자,심의필일자,적재일자
0,대출_0,2,KDB산업은행,A100000000,혁신성장산업 지원자금,NaN,준법감시인 심의필제2023-10-013호(2023.10.27),20240104

In [78]:
data.tail(3)

,대출_고유키,금융회사코드,금융회사명,금융상품코드,금융상품명,기준일자,심의필일자,적재일자
1373,대출_1420,88,신한은행,711117852,코로나19긴급유동성지원특례보증이차보전(2021.01.16판매중지),20240104,준법감시인사전심사필제2021-40249-2호(2021.09.29~2022.09.29),20240104
1374,대출_1421,88,신한은행,711117851,소상공인시장진흥공단이관물량처리이차보전대출(2020.12.31판매중지),20240104,준법감시인사전심사필제2022-40357-5호(2022.03.17~2023.03.17),20240104
1375,대출_1422,88,신한은행,612411100,Tops공무원우대론(2013.01.02판매중지),20240104,준법감시인사전심사필제2023-41115-1호(2023.08.30~2024.08.28),20240104

In [79]:
data.dropna(subset=['금융회사코드'], inplace=True)
data.tail(3)

,대출_고유키,금융회사코드,금융회사명,금융상품코드,금융상품명,기준일자,심의필일자,적재일자
1373,대출_1420,88,신한은행,711117852,코로나19긴급유동성지원특례보증이차보전(2021.01.16판매중지),20240104,준법감시인사전심사필제2021-40249-2호(2021.09.29~2022.09.29),20240104
1374,대출_1421,88,신한은행,711117851,소상공인시장진흥공단이관물량처리이차보전대출(2020.12.31판매중지),20240104,준법감시인사전심사필제2022-40357-5호(2022.03.17~2023.03.17),20240104
1375,대출_1422,88,신한은행,612411100,Tops공무원우대론(2013.01.02판매중지),20240104,준법감시인사전심사필제2023-41115-1호(2023.08.30~2024.08.28),20240104

In [82]:
data['금융회사코드'] = data['금융회사코드'].apply(lambda x: str(int(x)))
data.head(1)

,대출_고유키,금융회사코드,금융회사명,금융상품코드,금융상품명,기준일자,심의필일자,적재일자
0,대출_0,2,KDB산업은행,A100000000,혁신성장산업 지원자금,NaN,준법감시인 심의필제2023-10-013호(2023.10.27),20240104

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대출_고유키  1376 non-null   object
 1   금융회사코드  1376 non-null   object
 2   금융회사명   1376 non-null   object
 3   금융상품코드  1116 non-null   object
 4   금융상품명   1374 non-null   object
 5   기준일자    651 non-null    object
 6   심의필일자   1260 non-null   object
 7   적재일자    1376 non-null   int64
dtypes: int64(1), object(7)
memory usage: 86.1+ KB

In [84]:
data.isna().sum()

대출_고유키      0
금융회사코드      0
금융회사명       0
금융상품코드    260
금융상품명       2
기준일자      725
심의필일자     116
적재일자        0
dtype: int64

In [85]:
len(data)

1376

In [86]:
def execute_sql(sql):
    curs.execute(sql)
    return curs.fetchall()

In [87]:
def update_sql(sql):
    curs.execute(sql)
    curs.fetchall()

sql = "DROP TABLE deposit;"
execute_sql(sql)

In [88]:
sql = "CREATE TABLE card(카드_고유키 varchar(100) NOT NULL, \
    카드회사코드 int NOT NULL, \
    카드회사명  varchar(1000) NOT NULL, \
    상품유형 varchar(100), \
    상품코드 varchar(200), \
    상품명 varchar(1000), \
    카드등급 varchar(100), \
    후불교통 varchar(100), \
    카드이미지 varchar(100), \
    심의필일자 varchar(1000), \
    적재일자 int, \
    PRIMARY KEY(카드_고유키) \
)"

In [89]:
execute_sql(sql)

[]

In [90]:
sql = "SHOW TABLES"
execute_sql(sql)

(('card',),)

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대출_고유키  1376 non-null   object
 1   금융회사코드  1376 non-null   object
 2   금융회사명   1376 non-null   object
 3   금융상품코드  1116 non-null   object
 4   금융상품명   1374 non-null   object
 5   기준일자    651 non-null    object
 6   심의필일자   1260 non-null   object
 7   적재일자    1376 non-null   int64
dtypes: int64(1), object(7)
memory usage: 86.1+ KB

In [92]:
sql = "CREATE TABLE DEPOSIT(보증_고유키 varchar(100) NOT NULL, \
    금융회사코드 varchar(1000) NOT NULL, \
    금융회사명 varchar(1000) NOT NULL, \
    상품종류 varchar(1000), \
    상품유형 varchar(1000), \
    금융상품코드 varchar(1000), \
    금융상품명 varchar(2000), \
    PRIMARY KEY(보증_고유키) \
)"

In [93]:
execute_sql(sql)

[]

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대출_고유키  1376 non-null   object
 1   금융회사코드  1376 non-null   object
 2   금융회사명   1376 non-null   object
 3   금융상품코드  1116 non-null   object
 4   금융상품명   1374 non-null   object
 5   기준일자    651 non-null    object
 6   심의필일자   1260 non-null   object
 7   적재일자    1376 non-null   int64
dtypes: int64(1), object(7)
memory usage: 86.1+ KB

In [95]:
sql = "CREATE TABLE loan(대출_고유키 varchar(100) NOT NULL, \
    금융회사코드 varchar(1000) NOT NULL, \
    금융회사명 varchar(200) NOT NULL, \
    금융상품코드 varchar(1000), \
    금융상품명 varchar(200), \
    기준일자 varchar(1000), \
    심의필일자 varchar(1000), \
    적재일자 int, \
    PRIMARY KEY(대출_고유키) \
)"

In [96]:
execute_sql(sql)

[]

In [97]:
curs.fetchall()
curs.close()
conn.commit()
conn.close()